<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIRA91</title>
    <!--Manifest-->
    <link rel="manifest" href="/manifest.json">
    <!--Manifest-->


    <!--Imported Design library-->

    <!--Bootstrap-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--Bootstrap-->
    <!--Imported Design library-->

    <!--Imported link for App for Apple-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BIRA91">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-TileImage" content="/media/icons/manifest2/app-icon-48x48.png">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#3f51b5">
    <!--Imported link for App for Apple and android-->

    <!--Fontawesome CDN-->
    <!--Front end imports-->
    <link rel="stylesheet" href="/view/globalCSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/view/globalCSS/inhousestyle.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="salesOrder.css" />

    <!--Front end imports-->

</head>

<body>
    <div id="app">
        <nav class="navbar navbar-default nav-custom navbar-fixed-top">
            <div class="container-fluid">
                <header class="index-header">
                    <!-- <div class="toggle-btn text-left" onclick="openNav()">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div> -->
                    <div class="toggle-btn text-left closeIco" id="closeIco">
                        <i data-toggle="modal" data-target="#cancelModal" class="fas fa-times"></i>
                    </div>
                    <div class="logoSection nav-logo text-left">
                        <h3>Sales Order</h3>
                    </div>
                    <div class="arrowIcons">
                        <a onclick="goBack()" class="leftArrow fas fa-chevron-left"></a>
                        <a href="javascript:;" data-toggle="modal" data-target="#confirmOrder" class="rightArrow fas fa-chevron-right"></a>
                    </div>
                </header>
            </div>
        </nav>
        <div id="backdraw">
            <div id="sideNav" class="sidenav">
                <div class="logo-nav">
                    <img src="/media/icons/logo/Icons-12.png" class="img-responsive" alt="">
                </div>
                <a href="/view/homePage/homePage.html"><i class="fas fa-home"></i>Home</a>
                <a href="/view/accountList/accountListView.html"><i class="fas fa-tv"></i>Accounts</a>
                <a href="#"><i class="fas fa-clipboard-list"></i>Leads</a>
                <a href="/view/calendar/calendar2.html"><i class="far fa-calendar-alt"></i>Calendar</a>

                <div class="bottom-sidenav">
                    <a href="/view/syncPage/loadingPage.html"><i class="fas fa-sync"></i>SYNC</a>
                    <a href="#" data-toggle="modal" data-target="#logoutModal"><i
                            class="fas fa-sign-out-alt"></i>LOGOUT</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-xs-12">

                    <div class="account-section">
                        <div class="panel-content" id="listOfAcc">

                        </div>
                    </div>
                </div> -->

                
                <div class="col-xs-12">
                    <h4 class="mainHeading">Payout Slab</h4>
                </div>

                <div class="col-xs-12">
                    <div class="" id="slabsDiv">
                        <!-- <table class="table table-responsive" id="individualSlabs">
                            <thead>
                                <tr>
                                    <th scope="col">Volume</th>
                                    <th scope="col">Mass</th>
                                    <th scope="col">Premium</th>
                                    <th scope="col">Innovation</th>
                                </tr>
                            </thead> -->
                            <!-- <tbody id="payOutSlabsIndividual">
                                <tr class="activeTr">
                                    <td>0-10</td>
                                    <td>60</td>
                                    <td>80</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>10-50</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>50-100</td>
                                    <td>150</td>
                                    <td>170</td>
                                    <td>60</td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                    <div class="" id="kegsDiv">
                        <!-- <table class="table table-responsive" id="kegsTable">
                            <thead>
                                <tr>
                                    <th scope="col">Volume</th>
                                    <th scope="col">Premium Kegs</th>
                                    <th scope="col">Innovat iron Kegs</th>
                                </tr>
                            </thead> -->
                            <!-- <tbody>
                                <tr>
                                    <td>0-5</td>
                                    <td>60</td>
                                    <td>80</td>
                                </tr>
                                <tr  class="activeTr">
                                    <td>5-50</td>
                                    <td>90</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>>50</td>
                                    <td>150</td>
                                    <td>170</td>
                                </tr>
                            </tbody> -->
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" id="totalItems">
                            <article class="tblHead mt-3">
                                <h4>Order</h4>
                                <p>Items - <span>2</span></p>
                            </article>
                        </div>
                        <div class="col-xs-6 mt-3">
                            <a onclick=goSales() id="distributorLink">Depot Inventory</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 75%;">Item</th>
                                <th style="width: 25%;">Qty (Cases)</th>
                            </tr>
                            </thead>
                            <tbody id="salesOrderTable">
                           
                           
                            
                                <!-- <td>
                                    <select name="selectSearch" id="selectSearch" class="form-control">
                                        <option value='0' selected='true'> Search SKU</option>
                                        <option value='2101' > 1007345136 </option> 
                                        <option value='2102' > 1007921321 </option> 
                                        <option value='2103' > 1007987235 </option> 
                                        <option value='2407' > 132 </option> 
                                        <option value='2408' > 141 </option> 
                                    </select>
                                </td>
                                <td><input type="text" class="form-control"></td> -->
                                <!-- <tr id="newEntry">
                                    <td class="wd-80"><input class="" id="productSearch" type="text" placeholder="search" />
                                    <div id="productList"></div>
                                    </td>
                                    <td class="wd-20"><input class=" cartQtyChange" id="prodQ" type="number" min="0" value="0" onkeyup="qtyTotalUpdate()"/>  <i class="fa fas fa-exclamation"></i></td>
                                    </tr> -->
                                    <tr id="newEntry">
                                        <td style="width: 75%;">
                                          <select name="productSearch" id="productSearch" class="form-control">
                                            <option value='0' selected='true'> Search SKU</option>
                                          </select>
                                        </td>
                                        <td style="width: 25%;" class="cartQtyChange"><input id="prodQ" type="number" min="0" value="0" onkeyup="qtyTotalUpdate()" class="form-control"></td>
                                    </tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="totalSec">
                        <dic class="row">
                            <div class="col-xs-6">
                                <button class="addBtn" id="addRowButton"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div class="total" id="cartTotal">
                                    <label>Total Quantity: <span>0</span></label>
                                </div>
                            </div>
                        </dic>
                    </div>
                    <div class="reasonSection">
                        <!-- <div class="row" id="reasonBox"> -->
                            <!-- <div class="col-xs-6">
                                <span class="">
                                    Reason For Zero Sales Order
                                </span>
                            </div>

                            <div class="col-xs-5">
                                <div class="">
                                    <select id="first_reason_select" multiple="multiple">
                                        <option value="">--None--</option>
                                        <option value="Pricing/ Promotion/ Discount">Pricing/ Promotion/ Discount
                                        </option>
                                        <option value="Competition Tie-up">Competition Tie-up</option>
                                        <option value="Operational Feedback">Operational Feedback</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div> -->
                            <!-- </div> -->
                        </div>
                        <!-- <div class="row mt-2" id="lessBox"> -->
                            <!-- <div class="col-xs-6">
                                <span class="">
                                    Reason For Low Sales Order
                                </span>
                            </div> -->


                            <!-- <select class="form-control" multiple="" name="" id="reason"
                                onchange="handleReasonSelectOption(this)">
                                <option value="">--None--</option>
                                <option value="Pricing/ Promotion/ Discount">Pricing/ Promotion/ Discount</option>
                                <option value="Competition Tie-up">Competition Tie-up</option>
                                <option value="Operational Feedback">Operational Feedback</option>
                                <option value="Other">Other</option>
                            </select>
                            <select name="" class="form-control" multiple="" onchange="handleSubReasons(this)"
                                id="operational_feedback">
                                <option value="">--None--</option>

                                <option value="Stock is not available regularly">Stock is not available regularly
                                </option>

                                <option value="Service is not regular">Service is not regular</option>

                                <option value="Past issues not settled">Past issues not settled</option>

                                <option value="Outlet needs more time to decide">Outlet needs more time to decide
                                </option>

                                <option value="Not met decision maker">Not met decision maker</option>
                            </select> -->

                            <!-- <div class="col-xs-5">
                                <div class="">
                                    <select id="sec_reason_select" multiple="multiple">
                                        <option value="">--None--</option>
                                        <option value="Stock is not available regularly">Stock is not available
                                            regularly</option>
                                        <option value="Service is not regular">Service is not regular</option>
                                        <option value="Past issues not settled">Past issues not settled</option>
                                        <option value="Outlet needs more time to decide">Outlet needs more time to
                                            decide</option>
                                        <option value="Not met decision maker">Not met decision maker</option>
                                    </select>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </div>

                    <div id="listOfItem">

                    </div>

                </div>
                <!-- <div class="col-xs-12">
                    <div class="container1" id="orderSummaryPage">



                    </div>
                </div> -->
                <!-- <div class="col-xs-12">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comments</label>
                        <textarea class="form-control" id="salesOrderComment" placeholder="Add Comments here...." rows="3"></textarea>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- <div class="btn-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="add-btn">
                            <button class="button button5" data-toggle="modal" onclick="handleProductRefresh()"
                                data-target="#productModal">+</button>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="checkout-btn">
                            <button class="btn btn-default" data-toggle="modal"
                                data-target="#salesOrderSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->

        <!-- Modal -->
        <div id="productModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Products</h5>
                    </div>
                    <div class="modal-body" id="products">
                        <input type="search" class="form-control" placeholder="Product Name...." id="searchValue">
                        <div class="row" id="productList" style="margin: 2%;">

                        </div>
                        <!-- <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                                <th></th>
                              <th>Material</th>
                              <th>Volumne/Unit</th>
                              <th>UOM</th>
                          </thead>
                          <tbody id="productList">

                          </tbody>
                        </table>
                      </div> -->
                        <!-- <form class="example" action="action_page.php">
                        <input type="text"  placeholder="Search.." id="searchValue" name="search">
                        <table id="listOfProduct">
                            <thead class="thHead">
                                <th>Material</th>
                                <th>Volume/Unit</th>
                                <th>UOM</th>
                            </thead>
                        </table>
                    </form> -->
                    </div>
                    <div class="modal-footer" style="text-align: right;">
                        <button type="button" onclick="handleSelectedProducts()" data-dismiss="modal"
                            class="btn btn-default">Done</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="salesOrderSubmit" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body text-center confirmTitle">
                        <h5>Are you sure you want to Submit the Order ?</h5>
                    </div>
                    <div class="modal-footer text-center confirmFooter">
                        <button type="button" onclick="checkout()" class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="reasonForNotLiking" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title" style="color: white;"><b>Specify Reasons</b></h5>
                    </div>
                    <div class="modal-body">
                        <label>Reason for not Ordering the Product</label>
                        <div id="reasonForNotLikingSelect">

                        </div>

                        <br />
                        <!-- <label>Sub Reasons</label>
                        <select name="" class="form-control" id="subReason"></select> -->

                        <div id="subReasons">

                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" onclick="submitPostReasonNotLiking()" class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="finishBtn" style="display: none;">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button class="btn finishBtn" onclick="finalsubmit()">Finish</button>
                </div>
            </div>
        </div>

 <!-- Footer Starts -->
 <ul class="bottom-nav mdl-layout--fixed-header">
    <li class="nav-img">
        <a href="/view/homePage/homePage.html"><i class="fas fa-home"></i><span>Home</span></a>
    </li>
    <li class="nav-img">
        <a href="/view/dashboard/todaysVisits/todaysVisits.html"><i
                class="fas fa-users"></i><span>Visits</span></a>
    </li>
    <li class="nav-img">
        <a><i class="fas fa-shopping-cart"></i><span>Order</span></a>
    </li>
    <li class="nav-img">
        <a href="https://docs.google.com/document/d/1SFQRtN8732Mw57EHnC-p8d9OSKYFnjQtJuINqx_G6pU/edit"><i class="fas fa-file-contract"></i><span>Contract</span></a>
    </li>
    <li class="nav-img">
        <a><i class="fas fa-cocktail"></i><span>POSM</span></a>
    </li>
    <li class="nav-img">
        <a href="javascrit:;" data-toggle="modal" data-target="#moreMenu"><i
                class="fas fa-bars"></i><span>Menu</span></a>
    </li>
</ul>


<!--Script imported-->
<!-- Start More menu options Modal -->
<div id="moreMenu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/view/sellingTools/sellingTools.html"><i class="fas fa-file-alt"></i>Sell
                            Sheets</a></li>
                    <!-- <li class="list-group-item"><a href="javascript:;"><i class="fas fa-crown"></i>Trade
                            Marketing Inventory</a></li> -->
                    
                    <!-- <li class="list-group-item"><a href="javascript:;"><i class="fas fa-home"></i>Dashboards</a>
                    </li> -->
                    <li class="list-group-item"><a href="/view/calendar/calendar2.html"><i
                                class="fas fa-calendar-alt"></i>Calendar</a></li>
                    <li class="list-group-item"><a href="/view/accountList/accountListView.html"><i
                                class="fas fa-user-alt"></i>Accounts</a></li>
                    <!-- <li class="list-group-item"><a href="javascript:;"><i
                                class="fas fa-file-contract"></i>Reports</a></li>
                    <li class="list-group-item"><a href="javascript:;"><i
                                class="fas fa-crown"></i>Opportunities</a></li> -->
                    <li class="list-group-item"><a href="javascript:;" data-toggle="modal"
                            data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    <li class="list-group-item"><a href="/view/syncPage/loadingPage.html"><i
                                class="fas fa-sync"></i>Sync</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

        <!-- End More menu options Modal -->
        <!-- End Visit Modal -->
        <div id="endVisit" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Are you sure you want to end your visit ? </h5>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" data-dismiss="modal" onclick="handleEndDayHandler()"
                            class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Visit Modal -->
        <!-- Start Visit Modal -->
        <div id="startVisit" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Are you sure you want to start your visits ?</h5>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" onclick="handleStartDayHandler()" data-dismiss="modal"
                            class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Visit Modal -->

        <!-- Start Visit Modal -->
        <div id="todaysMeetingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="text-center">Meeting Details</h4>
                    </div>
                    <div class="modal-body text-left">
                    </div>
                    <div class="modal-footer text-right" style="text-align: right;">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   <!-- Cancel Modal -->
   <div id="cancelModal" class="modal cancel-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure you want to Cancel ?</h5>
            </div>
            <div class="modal-footer text-center">
                <button type="button"
                    class="btn btn-success"><a href="/view/homePage/homePage.html"> Yes </a></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

     <!-- confirmOrder Modal -->
     <div id="confirmOrder" class="modal cancel-modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h5>Are you want to Submit the order.?</h5>
                </div>
                <div class="modal-footer text-center">
                    <button type="button"
                        class="btn btn-success" onclick="checkout()">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--Front End script-->
    <script src="/view/globalJS/jquery-3.4.1.min.js"></script>
    <script src="/view/globalJS/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
    <script src="/view/globalJS/main.js"></script>
    <!--Front End script-->
    <!--Backend Scripts-->
    <script src="/controller/indexedDB/idb.js"></script>
    <script src="/controller/indexedDB/utility.js"></script>
    <script src="/controller/sync/sync.js"></script>
    <!-- <script src="/controller/homePage/homePage.js"></script> -->
    <script src="/controller/globalJS/globalJS.js"></script>
    <script src="../../../constants/constants.js"></script>
    <script src="payOutSlabs.js"></script>
    <script src="salesOrderNew-InProgress.js"></script>
    <!--Backend Scripts-->
    <!--Script imported-->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
        <!--Backend Scripts-->
        <!--Script imported-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#first_reason_select, #sec_reason_select').multiselect({
                    includeSelectAllOption: true,
                });
            });
        </script>
</body>

</html>