<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIRA91</title>
    <!--Manifest-->
    <link rel="manifest" href="../../../manifest.json">
    <!--Manifest-->
    <!--Imported link for App for Apple-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BIRA91">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../../../media/icons/manifest2/apple-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-TileImage" content="../../../media/icons/manifest2/app-icon-48x48.png">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#3f51b5">
    <!--Imported link for App for Apple and android-->

    <!--Fontawesome CDN-->
    <!--Front end imports-->
    <link rel="stylesheet" href="../../globalCSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../globalCSS/inhousestyle.css" />
    <link rel="stylesheet" href="../../homePage/homePage.css" />
    <link rel="stylesheet" href="lapsedAccounts.css" />
    <!--Front end imports-->
</head>

<body>
    
    <div id="app">
        <nav class="navbar navbar-default nav-custom navbar-fixed-top">
            <div class="container-fluid">
                <header class="index-header">
                    <!-- <div class="toggle-btn text-left" onclick="openNav()">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div> -->
                    <div class="toggle-btn text-left" id="searchIco">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="logoSection nav-logo text-left">
                        <h3>Lapsed Accounts</h3>
                    </div>
                </header>
            </div>
        </nav>
       
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="example" >
                        <button type="button"><i class="fa fa-search"></i></button>
                        <input autocomplete="off" type="text" placeholder="Search.." id="searchTodaysvisits"
                            name="search">
                        <!-- <ul id="searchElement"></ul> -->
                    </div>
                
                    <section class="cardSectionList">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Local</h4>
                                        <label>On-Premise/ Restaurant</label>
                                        <label> <strong>Order: </strong> <span>15-Jan (Lapsed)</span> <span>|</span>  <strong>Visit: </strong> <span>25-May</span></label>
                                        <label># SCO-107, Connaught Place</label>
                                    </div>
                                    <div class="col-xs-4 pl-0 text-right">
                                        <ul>
                                            <li>
                                                <strong>P0</strong>
                                            </li>
                                            <li>
                                                <img src="../../../media/icon11.png" alt="icon" />
                                            </li>
                                            <li>
                                                <img src="../../../media/icon12.png" alt="icon" />
                                                <!-- <img src="../../../media/icon13.png" alt="icon" /> -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Local</h4>
                                        <label>On-Premise/ Restaurant</label>
                                        <label> <strong>Order: </strong> <span>15-Jan (Lapsed)</span> <span>|</span>  <strong>Visit: </strong> <span>25-May</span></label>
                                        <label># SCO-107, Connaught Place</label>
                                    </div>
                                    <div class="col-xs-4 pl-0 text-right">
                                        <ul>
                                            <li>
                                                <strong>P0</strong>
                                            </li>
                                            <li>
                                                <img src="../../../media/icon11.png" alt="icon" />
                                            </li>
                                            <li>
                                                <img src="../../../media/icon12.png" alt="icon" />
                                                <!-- <img src="../../../media/icon13.png" alt="icon" /> -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Local</h4>
                                        <label>On-Premise/ Restaurant</label>
                                        <label> <strong>Order: </strong> <span>15-Jan (Lapsed)</span> <span>|</span>  <strong>Visit: </strong> <span>25-May</span></label>
                                        <label># SCO-107, Connaught Place</label>
                                    </div>
                                    <div class="col-xs-4 pl-0 text-right">
                                        <ul>
                                            <li>
                                                <strong>P0</strong>
                                            </li>
                                            <li>
                                                <img src="../../../media/icon11.png" alt="icon" />
                                            </li>
                                            <li>
                                                <img src="../../../media/icon12.png" alt="icon" />
                                                <!-- <img src="../../../media/icon13.png" alt="icon" /> -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Local</h4>
                                        <label>On-Premise/ Restaurant</label>
                                        <label> <strong>Order: </strong> <span>15-Jan (Lapsed)</span> <span>|</span>  <strong>Visit: </strong> <span>25-May</span></label>
                                        <label># SCO-107, Connaught Place</label>
                                    </div>
                                    <div class="col-xs-4 pl-0 text-right">
                                        <ul>
                                            <li>
                                                <strong>P0</strong>
                                            </li>
                                            <li>
                                                <img src="../../../media/icon11.png" alt="icon" />
                                            </li>
                                            <li>
                                                <img src="../../../media/icon12.png" alt="icon" />
                                                <!-- <img src="../../../media/icon13.png" alt="icon" /> -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </section>


                </div>
            </div>
        </div>
        <!-- Spinner for Start Visit -->
        <div id="loader-main" style="display: none;">
            <div class="loader1"></div>
        </div>
        <!-- Spinner for End Visit -->


         <!-- Footer Starts -->
         <ul class="bottom-nav mdl-layout--fixed-header">
            <li class="nav-img">
                <a href="../../homePage/homePage.html"><i class="fas fa-home"></i><span>Home</span></a>
            </li>
            <li class="nav-img">
                <a href="../../../view/dashboard/todaysVisits/todaysVisits.html"><i class="fas fa-users"></i><span>Visits</span></a>
            </li>
            <li class="nav-img">
                <a href="javascrit:;"><i class="fas fa-shopping-cart"></i><span>Order</span></a>
            </li>
            <li class="nav-img">
                <a href="javascrit:;"><i class="fas fa-file-contract"></i><span>Contract</span></a>
            </li>
            <li class="nav-img">
                <a href="javascrit:;"><i class="fas fa-cocktail"></i><span>POSM</span></a>
            </li>
            <li class="nav-img">
                <a href="javascrit:;"  data-toggle="modal" data-target="#moreMenu" ><i class="fas fa-bars"></i><span>Menu</span></a>
            </li>
        </ul>
    
        <!--Script imported-->
        <!-- Start More menu options Modal -->
        <div id="moreMenu" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-file-alt"></i>Sell Sheets</a></li>
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-crown"></i>Trade Marketing Inventory</a></li>
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-beer"></i>Beer Inventory</a></li>
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-home"></i>Dashboards</a></li>
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-calendar-alt"></i>Calendar</a></li>
                            <li class="list-group-item"><a href="../../accountList/accountListView.html"><i class="fas fa-user-alt"></i>Accounts</a></li>
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-file-contract"></i>Reports</a></li>
                            <li class="list-group-item"><a href="javascript:;"><i class="fas fa-crown"></i>Opportunities</a></li>
                            <li class="list-group-item"><a href="javascript:;" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                            <li class="list-group-item"><a href="../../../view/syncPage/loadingPage.html"><i class="fas fa-sync"></i>Sync</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Front End script-->
    <script src="../../globalJS/jquery-3.4.1.min.js"></script>
    <script src="../../globalJS/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
    <script src="../../globalJS/main.js"></script>
    <script src="../../homePage/homePage.js"></script>
    <script src="lapsedAccounts.js"></script>
    <!--Front End script-->
    <!--Backend Scripts-->
    <script src="../../../controller/indexedDB/idb.js"></script>
    <script src="../../../controller/indexedDB/utility.js"></script>
    <script src="../../../controller/sync/sync.js"></script>
    <script src="../../../controller/homePage/homePage.js"></script>
    <script src="../../../controller/globalJS/globalJS.js"></script>

    <!--Backend Scripts-->
    <!--Script imported-->

</body>

</html>