.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
  .fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
  .quick .toggle-group { transition: none; -webkit-transition: none; }

.btn{
    background-color: #6600ff;
    color: #fff;
    margin: 20px !important;
}

h4{
  margin-top: 30px;
}

.panel-content {
  margin: 50px 0 0;
}

.main-head {
  width: 100%;
  margin: 15px 0;
  padding: 10px 0;
} 

.heading {
  width: 58%;
  display: inline-block;
  vertical-align: top;
}

.heading span {
  position: relative;
  top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #6600ff;
}

.heading img {
  width: 40px;
}

.heading .about {
  font-size: 15px;
  color: #777777;
  font-weight: 500;
}

.main-head p {
  color: #777777;
}

.feat {
  width: 40%;
  display: inline-block;
    text-align: right;
}

.feat span {
  width: 24%;
  display: inline-block;
  margin: 3px;
  margin-top: 0;
  text-align: center;
}



.feat .name {
  /* background-color: #6600ff; */
  color: #000;
  border-radius: 7px;
}

.feat span img {
  width: 30px;
}


.form-group {
  margin: 8px 0;
}

.switch {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 100%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
    cursor: pointer;
    top: -4px;
    right: 0;
    width: 60px;
    height: 30px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
  position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #6600ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6600ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label{
  font-weight: 400;
}
#app {
  position: relative;
  margin-bottom: 0;
}

.panConReq,.aadharConReq,.emailConReq{
  color: #6600ff;
  display: none;
}
input[type=file] {
  display: none;
}
i.fa.fa-camera {
  top: 33px;
}
.reasonLabel:after , .showReq:after {
  content:" *";
  color: #6600ff;
}

div#contactCreation .modal-body {
  height: 420px;
  overflow: scroll;
}

#contactCreation .modal-header{
  background: #6600ff;
  color: #fff;
}

#contactList .media {
  margin: 20px 0;
}