.panel-content {
    margin: 57px 0 0;
    }
    
    .accountList {
      position: fixed;
      background: white;
      width: 100%;
      left: 0;
      padding: 0 15px;
      z-index: 10;
    }
    
    
    .main-head {
    width: 100%;
    margin: 0;
    padding: 0;
    }
    
    .heading {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    }
    
    .heading span {
    position: relative;
    top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #6600ff;
    }
    
    .heading img {
    width: 40px;
    }
    
    .heading .about {
    font-size: 15px;
    color: #777777;
    font-weight: 500;
    }
    
    .main-head p {
    color: #777777;
    }
    
    .feat {
    width: 40%;
    display: inline-block;
      text-align: right;
    }
    
    .feat span {
    width: 24%;
    display: inline-block;
    margin: 3px;
    margin-top: 0;
    text-align: center;
    }
    
    
    
    .feat .name {
    /* background-color: #6600ff; */
    color: #000;
    border-radius: 7px;
    }
    
    .feat span img {
    width: 30px;
    }
  

.objectives {
    margin: 90px 0px 50px;
}


.heading1 {
    margin:0 10px 30px 0px;
    color: #6600ff;
    font-size:19px;
    font-weight:bold;
}


.btn {
    border: 1px solid #6600ff;
    font-size: 15px;
    color: #000;
    margin-top: 15px;
    border-radius: 4px;
    padding: 6px 12px;
    width: 85%;
    background: transparent;
}

.checkout{
    width:30%;
   margin-top:40px;
    font-size:15px;
}
.checkin{
    width:30%;
   margin-bottom:20px;
    font-size:15px;
}

.text-center.clickStart {
    margin-top: 25px;
}


.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #000;
  }