.draftSignUp{
    margin-top: 80px;
}


h4,h3{
    font-weight: 700;
    color: #6600ff;
    font-size: 20px;
    margin-bottom: 20px;
}

.draftbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 
.draftbtn{
    text-align: center;
    margin: 50px 0;
} */


.switch {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 100%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
      cursor: pointer;
      top: -4px;
      right: 0;
      width: 60px;
      height: 30px;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  .slider:before {
    position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6600ff;
  }
  
  
  .panel-content {
    margin: 57px 0 0;
    }
    
    .accountList {
      position: fixed;
      background: white;
      width: 100%;
      left: 0;
      padding: 0 15px;
      z-index: 10;
    }
    
    
    .main-head {
    width: 100%;
    margin: 0;
    padding: 0;
    }
    
    .heading {
    width: 58%;
    display: inline-block;
    vertical-align: top;
    }
    
    .heading span {
    position: relative;
    top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #6600ff;
    }
    
    .heading img {
    width: 40px;
    }
    
    .heading .about {
    font-size: 15px;
    color: #777777;
    font-weight: 500;
    }
    
    .main-head p {
    color: #777777;
    }
    
    .feat {
    width: 40%;
    display: inline-block;
      text-align: right;
    }
    
    .feat span {
    width: 24%;
    display: inline-block;
    margin: 3px;
    margin-top: 0;
    text-align: center;
    }
    
    
    
    .feat .name {
    /* background-color: #6600ff; */
    color: #000;
    border-radius: 7px;
    }
    
    .feat span img {
    width: 30px;
    }



.heading1 {
    margin:0 10px 30px 0px;
    color: #6600ff;
    font-size:20px;
    font-weight:bold;
    margin-top: 90px;
}

#app {
    padding-bottom: 40%;
    position: relative;
}

.btn {
    font-size: 14px;
    margin-top: 18px;
    border-radius: 4px;
    width: 40%;
    display: inline-block;
    border: 1px solid #6600ff;
    color: #000;
    background-color: transparent;
}


.btn-submit{
  background: #6600ff;
  color: white;
}


.checkout {
    width: 50%;
    margin-top: 70px;
    font-size: 15px;
}

  
  input:focus + .slider {
    box-shadow: 0 0 1px #6600ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  label{
    font-weight: 400;
  }