body {
  background-color: #f5f5f5;
  font-family: 'Barlow', sans-serif;
}
.custom-nav {
  background-color: #6600ff;
  z-index: 44;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.header-container {
  background-color: #6600ff;
  display: flex;
  flex-direction: row;
}
.search-bar-container {
  flex: 1 1 120px;
  cursor: pointer;
}
.search-bar-container i {
  position: relative;
  top: 2rem;
  left: 2.5rem;
  height: initial;
  width: 100%;
}
.header-name-container {
  flex: 3 3 120px;
}
.header-container h3 {
  color: #ffffff;
}
.sub-header-navigation-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  ;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}
.sub-menu-icon-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.expanded-menu-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.account-target-wrapper {
  display: flex;
  background-color: #aeacac;
  padding: 0.5rem 0rem 0.5rem 1rem;
  font-size: 16px;
  font-weight: 600;
  color: #00000080;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.account-target-case-share {
  color: #ffffff;
  background-color: #e61b23;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.volume-target-wrapper {
  display: flex;
  background-color: #aeacac;
  padding: 0.5rem 0rem 0.5rem 1rem;
  font-size: 16px;
  font-weight: 600;
  color: #00000080;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.bottom-section-navigation-wrapper {
  display: flex;
  border: 1px solid #0000008c;
  padding: 0.2rem 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
}
.bottom-section-navigation-text {
  display: flex;
  padding-left: 1rem;
  position: relative;
  top: 0.5rem;
  width: inherit;
  height: inherit;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0rem;
  text-align: left;
}
.bottom-section-navigation-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  position: relative;
  width: inherit;
  top: 0.5rem;
  height: inherit;
  font-weight: 600;
}

img {
  mix-blend-mode: multiply;
}
.blackClr{
  color: black;
}
