h4{
    color: #6600ff;
    font-weight: 700;
}

.kycSection{
    margin-top: 85px;
}

.required:after {
    content:" *";
    color: #6600ff;
  }

  input[type=file] {
    display: none;
  }

  .btn{
      background-color: #6600ff;
      margin-top: 20px;
      color: #fff;
  }

  .image-upload_NoInput .form-control{
      width: 80%;
      display: inline-block;
  }

  .image-upload_NoInput .camera {
    width: 15%;
    display: inline-block;
    font-size: 27px;
    position: absolute;
    top: -4px;
    margin: 0;
    right: 15px;
    }

    .switch {
    position: relative;
        display: inline-block;
        height: 50px;
        }
        
        .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
        }
        
        .slider {
        position: absolute;
          cursor: pointer;
          top: 12px;
          left: 0;
          right: 0;
          width: 60px;
          height: 30px;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        .slider:before {
        position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 2px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }
        
        input:checked + .slider {
        background-color: #6600ff;
        }
        
        input:focus + .slider {
        box-shadow: 0 0 1px #6600ff;
        }
        
        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
        border-radius: 34px;
        }
        
        .slider.round:before {
        border-radius: 50%;
        }
        

        label {
            text-transform: capitalize;
            padding-top: 15px;
        }


.error{
  display: none;
  color: #6600ff;
}