<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIRA91</title>
    <!--Manifest-->
    <link rel="manifest" href="/manifest.json">
    <!--Manifest-->


    <!--Imported Design library-->

    <!--Bootstrap-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--Bootstrap-->
    <!--Imported Design library-->

    <!--Imported link for App for Apple-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BIRA91">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-57x57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-60x60.png" sizes="60x60">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-144x144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/media/icons/manifest2/apple-icon-180x180.png" sizes="180x180">
    <meta name="msapplication-TileImage" content="/media/icons/manifest2/app-icon-48x48.png">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="theme-color" content="#3f51b5">
    <!--Imported link for App for Apple and android-->

    <!--Fontawesome CDN-->
    <!--Front end imports-->
    <link rel="stylesheet" href="../globalCSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../globalCSS/inhousestyle.css" />
    <link rel="stylesheet" href="homePageTechnician.css" />
    <!--Front end imports-->
    
</head>

<body>
    
    <div id="app">
        <nav class="navbar navbar-default nav-custom navbar-fixed-top">
            <div class="container-fluid">
                <header class="index-header">
                    <div class="toggle-btn text-left" onclick="openNav()">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="logoSection nav-logo text-left">
                        <h3>Beast <span id=userName></span></h3>
                    </div>
                </header>
            </div>
        </nav>
        <div id="backdraw">
            <div id="sideNav" class="sidenav">
                <div class="logo-nav">
                    <img src="/media/icons/logo/Icons-12.png" class="img-responsive" alt="">
                </div>
                <a href="/view/homePage/homePage.html"><i class="fas fa-home"></i>Home</a>
                <a href="/view/accountList/accountListView.html"><i class="fas fa-tv"></i>Accounts</a>
                
                
                <a href="/view/calendar/calendar2.html"><i class="far fa-calendar-alt"></i>Calendar</a>
                <div class="bottom-sidenav">
                    <a href="/view/syncPage/loadingPage.html"><i class="fas fa-sync"></i>SYNC</a>
                    <a href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>LOGOUT</a>
                </div>
            </div>
        </div>
    <div id="header">
    </div>
    <div id="pending">
    <div class="container">
        <div class="row">
            <div class="example">
                <button type="button"><i class="fa fa-search"></i></button>
                <input autocomplete="off" type="text" placeholder="Search Accounts.." id="searchValue" name="search">
                <ul id="searchElement">
                    <li class="account-card" onclick="handleAccountSearchClicked(this)" data-id="0015D00000c2HHTQA2"><a><img src="../../media/images/homePage/todays-visit.png"><div class="accountSearch">A Warehouse<br> <span>On-Premise</span></div></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
            <button class="accordion1" style="margin: 0;padding:0;"><span><img style="width:34px;" src="/media/images/homePage/todays-visit.png"
                alt=""></span> TODAY'S VISITS</button> 
            </div>
            <div class="col-xs-4">
                <div class="btn-group" role="group" aria-label="...">
                    <button  data-toggle="modal" data-target="#startVisit" type="button" id="startDayTime"  class="btn visitBtn btn-default">
                        Start <i class="fa fa-compass" aria-hidden="true"></i></button>
                    <button  data-toggle="modal" data-target="#endVisit" type="button" id="endDayTime" class="btn visitBtn btn-default">
                        End <i class="fa fa-compass" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        
        <div class="panel">
            <ul class="panel-content" id="todays-visit">
                <div >
                    <div class="container-outer">
                        <h4 class="heading1" id="warehouse">Pending Installations</h4>
            
                        <div id="pending-installations">
            
                        </div>
                    </div>
            
                    <div class="container-outer">
                        <h4 class="heading1" id="brandFreshness">Pending Pullouts</h4>
            
                        <div id="pending-pullouts">
            
                        </div>
                    </div>
            
            
                    
            
            
                    <div class="container-outer">
                        <h4 class="heading1" id="chemicalCIP">Maintenance Visits</h4>
            
                        <div id="maintenance-visits">
            
                        </div>
                    </div>
            
                    <!-- <div class="text-center">
                        <button type="button" class="btn check-out" onclick="CheckoutClick()">Check-Out</button>
                    </div> -->
                </div>
            </ul>
        </div>

        <button class="accordion1"><span><img width="13%;" src="../../media/images/homePage/upcoming-meetings.png"
                    alt=""></span> Today's Tasks</button>
        <div class="panel" id="todaysVisits">
            
              
        </div>

        <button class="accordion1" style="padding: 0;"><span><img width="13%;" src="../../media/images/homePage/upcoming-meetings.png"
            alt=""></span> Today's Meetings</button><br/>
        <div class="panel" id="todaysMeeting">
            
            
        </div>
    </div>
</div>
    
</div>
    <!-- Start Visit Modal -->
    <div id="startVisit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h5>Are you sure you want to start your visits ?</h5>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" onclick="handleStartDayHandler()"
                    data-dismiss="modal"
                        class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Visit Modal -->
    <div id="endVisit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h5>Are you sure you want to end your visit ? </h5>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" data-dismiss="modal" onclick="handleEndDayHandler()"
                        class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Visit Modal -->
    
       <!-- Start Visit Modal -->
       <div id="todaysMeetingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="text-center">Meeting Details</h4>
                </div>
                <div class="modal-body text-left">
                </div>
                <div class="modal-footer text-right" style="text-align: right;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

            
<footer class="bottom-nav mdl-layout--fixed-header">
    <div class="nav-img">
        <img src="/media/images/homePage/rsz_icons-07.png" alt="">
    </div>
    <div class="nav-img">
        <img src="/media/images/homePage/rsz_icons-08.png" alt="">
    </div>
    <div class="nav-img">
        <img src="/media/images/homePage/rsz_icons-09.png" alt="">
    </div>
    <div class="nav-img">
        <img src="/media/images/homePage/rsz_icons-10.png" alt="">
    </div>
</footer>





<!-- Start Visit Modal -->
<!--Front End script-->
<script src="../globalJS/jquery-3.4.1.min.js"></script>
<script src="../globalJS/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>

<script src="../globalJS/main.js"></script>
<script src="../globalJS/spinner.js"></script>
<script src="./homePageTechnician.js"></script>
<!--Front End script-->
<!--Backend Scripts-->
<script src="/controller/indexedDB/idb.js"></script>
<script src="/controller/indexedDB/utility.js"></script>
<script src="/controller/sync/sync.js"></script>
<script defer src="/controller/homePage/homePageTechnician.js"></script>
<script src="/controller/globalJS/globalJS.js"></script>
<!--Backend Scripts-->
<!--Script imported-->

</body>

</html>