.posm-content{
    margin-top: 85px;
}

.qty {
    width: 50%;
}
/* 
.button-container {
    margin-top: 11px;
} */

label{
    padding-top: 8px;
}

h5{
    color: #6600ff;
    font-size: 15px;
    font-weight: 700;
}

.row{
    margin-bottom: 15px;
}
.switch{
    height: initial !important;
}
.slider{
    top: -2px !important;
}