.save-next {
    text-align: center;
    margin: 25px 0;
  }
  
  .btn{
    background-color: #6600ff;
    color: #fff;
    margin: 20px;
  }
  
  .panel-content {
  margin: 57px 0 0;
  }
  
  .accountList {
    position: fixed;
    background: white;
    width: 100%;
    left: 0;
    padding: 0 15px;
    z-index: 10;
  }
  
  
  .main-head {
  width: 100%;
  margin: 0;
  padding: 0;
  }
  
  .heading {
  width: 58%;
  display: inline-block;
  vertical-align: top;
  }
  
  .heading span {
  position: relative;
  top: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #6600ff;
  }
  
  .heading img {
  width: 40px;
  }
  
  .heading .about {
  font-size: 15px;
  color: #777777;
  font-weight: 500;
  }
  
  .main-head p {
  color: #777777;
  }
  
  .feat {
  width: 40%;
  display: inline-block;
    text-align: right;
  }
  
  .feat span {
  width: 24%;
  display: inline-block;
  margin: 3px;
  margin-top: 0;
  text-align: center;
  }
  
  
  
  .feat .name {
  /* background-color: #6600ff; */
  color: #000;
  border-radius: 7px;
  }
  
  .feat span img {
  width: 30px;
  }
  
  .competition-heading h5{
    color: #000;
    font-weight: 700;
    font-size: 16px;
  }
  
  /* Checkbox css */
  
  
  .switch {
    position: relative;
    display: inline-block;
    /* height: 50px; */
  }
  
  .form-group{
    display: flex;
    margin: 0 0 7px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
      cursor: pointer;
      top: -8px;
      left: 10px;
      
      width: 60px;
      height: 30px;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  .slider:before {
    position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6600ff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6600ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .preSalesHeading{
      margin-top: 95px;
  }

  .preSalesHeading h4{
      color: #6600ff;
      font-weight: 700;
  }

  .preSalesHeading .varient{
      color: #000;
      font-weight: 500;
  }

  .preSalesrow{
      margin: 30px 0;
      border: 1px solid #ccc;
      border-radius: 9px;
      padding: 11px;

  }

  .button-container {
    height: 2.6rem;
    border: 1px solid;
    /* width: 80%; */
    max-width: 100%;
    border-radius: 6px;
    margin: auto;
  }
  
  .qty{
      width:48%;
      text-align:center;
      background : #fbd6dd;
      border: 0px solid #000;
      border-right: none;
      border-left: none;
      height: 100%;
      color:#000;
      font-size:14px;
  }
  
  @supports (-webkit-touch-callout: none) { 
    .qty{
      position: relative;
      top:-2px;
      height: 96%;
      border-radius: 0;
  
    }
  }
  @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) { 
    .qty{
      position: relative;
      top:-2px;
      height: 96%;
      border-radius: 0;
    }
  }
  
  
  .cart-btn{
      width: 20%;
      background: transparent;
      box-shadow: 0 0 0 transparent;
      border: 0px solid #000;
      height: 100%;
      color: #6600ff;
  }
  
  .cart-qty-minus{
      position:relative;
      /* right:-4px; */
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-right: none;
  }
  
  .cart-qty-plus{
      border-left: none;
      position:relative;
      /* left:-5px; */
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  
  input[type=number] {
    -moz-appearance:textfield;
  }
  
  .feedback{
      margin-top: 15px;
  }

  .form-group{
    display: inline-block;
  }
