  
  #calendar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
    margin: 80px 0 30px;
  }

  .wrapperDiv {
    width: 75%;
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 15px;
}
  
  .header {
    height: 50px;
    width: 100%;
    background: rgb(102 0 255 / 20%);
    text-align: center;
    position:relative;
    z-index: 100;
  }
  
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  .left, .right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
  }
  
  .left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
    left: 20px;
  }
  
  .right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgba(160, 159, 160, 1);
    right: 20px;
  }
  
  .month {
    /*overflow: hidden;*/
    opacity: 0;
  }
  
  .month.new {
    -webkit-animation: fadeIn 1s ease-out;
    opacity: 1;
  }
  
  .month.in.next {
    -webkit-animation: moveFromTopFadeMonth .4s ease-out;
    -moz-animation: moveFromTopFadeMonth .4s ease-out;
    animation: moveFromTopFadeMonth .4s ease-out;
    opacity: 1;
  }
  
  .month.out.next {
    -webkit-animation: moveToTopFadeMonth .4s ease-in;
    -moz-animation: moveToTopFadeMonth .4s ease-in;
    animation: moveToTopFadeMonth .4s ease-in;
    opacity: 1;
  }
  
  .month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
    -moz-animation: moveFromBottomFadeMonth .4s ease-out;
    animation: moveFromBottomFadeMonth .4s ease-out;
    opacity: 1;
  }
  
  .month.out.prev {
    -webkit-animation: moveToBottomFadeMonth .4s ease-in;
    -moz-animation: moveToBottomFadeMonth .4s ease-in;
    animation: moveToBottomFadeMonth .4s ease-in;
    opacity: 1;
  }
  
  .week {
   background: #ffffff;
  }
  
  .day {
    display: inline-block;
    width: 14%;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background: #ffffff;
    position: relative;
    z-index: 100;
  }
  
  .day.other {
   color: #ccc;
  }
  
  .day.today {
    color : #6600ff;
  }
  
  .day-name {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(54, 52, 52, 1);
    letter-spacing: .7px;
  }
  
  .day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  
  
  .day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
  }
  
  .day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
  }
  
  .blue { background: rgba(156, 202, 235, 1); }
  .orange { background: rgba(247, 167, 0, 1); }
  .green { background: rgba(153, 198, 109, 1); }
  /* .yellow { background: rgba(249, 233, 0, 1); } */
  .yellow{background: #6600ff;}

  .details {
    position: relative;
    width: 100%;
    /* height: 75px; */
    /* background: rgb(102 0 255 / 20%); */
    margin-top: 5px;
    border-radius: 4px;
  }
  
  .details.in {
    -webkit-animation: moveFromTopFade .5s ease both;
    -moz-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
  }
  
  .details.out {
    -webkit-animation: moveToTopFade .5s ease both;
    -moz-animation: moveToTopFade .5s ease both;
    animation: moveToTopFade .5s ease both;
  }
  
  .arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
    transition: all 0.7s ease;
    display: none;
  }
  
  .events {
    /* height: 75px; */
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .events.in {
    -webkit-animation: fadeIn .3s ease both;
    -moz-animation: fadeIn .3s ease both;
    animation: fadeIn .3s ease both;
  }
  
  .events.in {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
  }
  
  .details.out .events {
    -webkit-animation: fadeOutShrink .4s ease both;
    -moz-animation: fadeOutShink .4s ease both;
    animation: fadeOutShink .4s ease both;
  }
  
  .events.out {
    -webkit-animation: fadeOut .3s ease both;
    -moz-animation: fadeOut .3s ease both;
    animation: fadeOut .3s ease both;
  }
  
  .event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    vertical-align: top;
    margin: 25px 0 0;
  }
  
  .event.empty {
    color: #5e5d5d;
  }
  
  .event-category {
    width: 33px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
  }
  
  .event span {
    display: inline-block;
    padding: 0 0 0 7px;
    width: 97%;
  }

  .event p{
    margin: 0;
  }
  
  .event p:nth-of-type(1){
    font-weight: bold;
  }
  .legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background:rgb(102 0 255 / 20%);
    line-height: 30px;
    color: #000000;
    display: none;
  }
  
  .entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
  }
  
  .entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
  }
  
  .entry.blue:after { background: rgba(156, 202, 235, 1); }
  .entry.orange:after { background: rgba(247, 167, 0, 1); }
  .entry.green:after { background: rgba(153, 198, 109, 1); }
  .entry.yellow:after { background: #6600ff; }
  
  /* Animations are cool!  */
  @-webkit-keyframes moveFromTopFade {
    from { opacity: .3; height:0px; margin-top:0px; opacity: 1; }
  }
  @-moz-keyframes moveFromTopFade {
    from { height:0px; margin-top:0px; opacity: 1; }
  }
  @keyframes moveFromTopFade {
    from { height:0px; margin-top:0px; opacity: 1; }
  }
  
  @-webkit-keyframes moveToTopFade {
    to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3;  opacity: 1; }
  }
  @-moz-keyframes moveToTopFade {
    to { height:0px;  opacity: 1; }
  }
  @keyframes moveToTopFade {
    to { height:0px;  opacity: 1; }
  }
  
  @-webkit-keyframes moveToTopFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
  }
  @-moz-keyframes moveToTopFadeMonth {
    to { opacity: 0; -moz-transform: translateY(-30%); }
  }
  @keyframes moveToTopFadeMonth {
    to { opacity: 0; -moz-transform: translateY(-30%); }
  }
  
  @-webkit-keyframes moveFromTopFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
  }
  @-moz-keyframes moveFromTopFadeMonth {
    from { opacity: 0; -moz-transform: translateY(30%); }
  }
  @keyframes moveFromTopFadeMonth {
    from { opacity: 0; -moz-transform: translateY(30%); }
  }
  
  @-webkit-keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
  }
  @-moz-keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%); }
  }
  @keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%); }
  }
  
  @-webkit-keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
  }
  @-moz-keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%); }
  }
  @keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%); }
  }
  
  @-webkit-keyframes fadeIn  {
    from { opacity: 0; }
  }
  @-moz-keyframes fadeIn  {
    from { opacity: 0; }
  }
  @keyframes fadeIn  {
    from { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOut  {
    to { opacity: 0; }
  }
  @-moz-keyframes fadeOut  {
    to { opacity: 0; }
  }
  @keyframes fadeOut  {
    to { opacity: 0; }
  }
  
  @-webkit-keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
  }
  @-moz-keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
  }
  @keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
  }
  
  @media only screen and (max-width: 991px) and (min-width: 768px){
    .arrow{
      margin-left: 16px;
    }
  }

  @media only screen and (max-width: 767px){
    .arrow{
       margin-left: -9px;
    }
  }


  .btn-section{
    text-align: right;
    margin: 20px 0;
  }

  h2{
    font-size: 22px;
    color: #6600ff;
    font-weight: 500;
  }

  th{
    padding: 12px;
  }

  thead{
    border-bottom: 2px solid #ccc;
  }

  .table-responsive{
    border: none;
  }

  tr{
    border-bottom: 1px solid #ccc;
  }

  td{
    padding: 12px 0;
  }

  .details{
    display: none;
  }

  .panel-body{
    margin: 0;
  }

  
.panel-title {
  position: relative;
  font-weight: 700;
}
  
.panel-title::after {
	content: "\f107";
	color: #fff;
	top: -2px;
	right: 0px;
	position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.panel-title[aria-expanded="true"]::after {
	content: "\f106";
}
.tasks{
  background: blueviolet;
}