 <!-- Footer Starts -->
 <ul class="bottom-nav mdl-layout--fixed-header">
    <li class="nav-img">
        <a href="/view/homePage/homePage.html"><i class="fas fa-home"></i><span>Home</span></a>
    </li>
    <li class="nav-img">
        <a href="/view/dashboard/todaysVisits/todaysVisits.html"><i
                class="fas fa-users"></i><span>Visits</span></a>
    </li>
    <li class="nav-img">
        <a><i class="fas fa-shopping-cart"></i><span>Order</span></a>
    </li>
    <li class="nav-img">
        <a href="https://docs.google.com/document/d/1SFQRtN8732Mw57EHnC-p8d9OSKYFnjQtJuINqx_G6pU/edit"><i class="fas fa-file-contract"></i><span>Contract</span></a>
    </li>
    <li class="nav-img">
        <a><i class="fas fa-cocktail"></i><span>POSM</span></a>
    </li>
    <li class="nav-img">
        <a href="javascrit:;" data-toggle="modal" data-target="#moreMenu"><i
                class="fas fa-bars"></i><span>Menu</span></a>
    </li>
</ul>


<!--Script imported-->
<!-- Start More menu options Modal -->
<div id="moreMenu" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/view/sellingTools/sellingTools.html"><i class="fas fa-file-alt"></i>Sell
                            Sheets</a></li>
                    <!-- <li class="list-group-item"><a href="javascript:;"><i class="fas fa-crown"></i>Trade
                            Marketing Inventory</a></li> -->
                    
                    <!-- <li class="list-group-item"><a href="javascript:;"><i class="fas fa-home"></i>Dashboards</a>
                    </li> -->
                    <li class="list-group-item"><a href="/view/calendar/calendar2.html"><i
                                class="fas fa-calendar-alt"></i>Calendar</a></li>
                    <li class="list-group-item"><a href="/view/accountList/accountListView.html"><i
                                class="fas fa-user-alt"></i>Accounts</a></li>
                    <!-- <li class="list-group-item"><a href="javascript:;"><i
                                class="fas fa-file-contract"></i>Reports</a></li>
                    <li class="list-group-item"><a href="javascript:;"><i
                                class="fas fa-crown"></i>Opportunities</a></li> -->
                    <li class="list-group-item"><a href="javascript:;" data-toggle="modal"
                            data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    <li class="list-group-item"><a href="/view/syncPage/loadingPage.html"><i
                                class="fas fa-sync"></i>Sync</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- End More menu options Modal -->
<!-- End Visit Modal -->
<div id="endVisit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure you want to end your visit ? </h5>
            </div>
            <div class="modal-footer text-center">
                <button type="button" data-dismiss="modal" onclick="handleEndDayHandler()"
                    class="btn btn-success">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- End Visit Modal -->
<!-- Start Visit Modal -->
<div id="startVisit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure you want to start your visits ?</h5>
            </div>
            <div class="modal-footer text-center">
                <button type="button" onclick="handleStartDayHandler()" data-dismiss="modal"
                    class="btn btn-success">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Start Visit Modal -->

<!-- Start Visit Modal -->
<div id="todaysMeetingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-center">Meeting Details</h4>
            </div>
            <div class="modal-body text-left">
            </div>
            <div class="modal-footer text-right" style="text-align: right;">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

